<h1>List#index</h1>

<%= link_to "New Playlist", new_list_path, class:"btn btn-success" %>

<div class="row d-flex justify-content-around">
  <% @lists.reverse.each do |list| %>
    <div class="card mx-2 my-2" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= link_to list.name, list_path(list.id) %></h5>
        <p class="card-text"><%= list.style %></p>
        <p class="card-text"><%= list.user.username %></p>
      </div>
    </div>
  <% end %>
</div>
